body {
    background-color: #0b0e1a;
    color: #a4abbd;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px; 
    padding: 20px;
    margin: 0;
    display: flex;
    justify-content: center;
    overflow: hidden; 
}

body::before {
    content: "";
    display: block;
    position: fixed;
    top: 0; left: 0; bottom: 0; right: 0;
    background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.15) 50%);
    z-index: 100;
    background-size: 100% 4px;
    pointer-events: none;
}

body.glitch-mode {
    background-color: #3d1a1a;
    animation: shake 0.3s infinite;
}
body.glitch-mode .gold-text, 
body.glitch-mode .user-part,
body.glitch-mode .path-part { color: #ff8080 !important; }

@keyframes shake {
    0% { transform: translate(1px, 1px); }
    50% { transform: translate(-1px, -1px); }
    100% { transform: translate(0px, 0px); }
}

.terminal-container { width: 100%; max-width: 900px; height: 95vh; display: flex; flex-direction: column; }
#terminal-history { flex-grow: 1; overflow-y: auto; padding-right: 10px; display: flex; flex-direction: column; font-size: inherit; }
#terminal-history::-webkit-scrollbar { width: 6px; }
#terminal-history::-webkit-scrollbar-thumb { background: #2a3352; }

.gold-text { color: #d19a4a; }
.dim-text { color: #5c6680; }
.white-text { color: #ffffff; }
.dir-text { color: #5c85e6; font-weight: bold; }
.user-part { color: #bd93f9; font-weight: bold; } 
.path-part { color: #8be9fd; font-weight: bold; } 

.input-line { display: flex; align-items: baseline; width: 100%; margin-top: 5px; }
.input-wrapper { position: relative; flex-grow: 1; margin-left: 8px; display: flex; }

#user-input { 
    background: transparent; border: none; color: #ffffff; 
    font-family: inherit; font-size: inherit; outline: none; 
    width: 100%; z-index: 2; padding: 0; margin: 0;
}

#suggestion-hint { position: absolute; top: 0; left: 0; z-index: 1; pointer-events: none; opacity: 0.4; white-space: pre; }

.command-output { margin-bottom: 15px; line-height: 1.4; }
.echo-line { margin-top: 10px; }

.file-content { 
    color: #ced4e0; 
    padding: 10px 0; 
    border-left: 2px solid #2a3352; 
    padding-left: 15px; 
    margin: 10px 0;
    white-space: pre-wrap; 
    line-height: 1.6;
}

.fetch-container { display: flex; flex-direction: row; gap: 30px; margin: 10px 0; align-items: flex-start; }
.fetch-logo { color: #f1fa8c; font-weight: bold; white-space: pre; font-size: 14px; line-height: 1.2; }
.fetch-info { line-height: 1.3; margin-top: 10px; }
.fetch-info b { color: #8be9fd; }